// https://www.colourlovers.com/palette/292482/Terra
$terraTerra: #E8DDCB;
$acqua: #036564;
$acquaProfonda: #033649;
$abisso: #031634;
$breakpoint: 770px;

body {
	background-color: $terraTerra;
	color: $abisso;
}
a {
	color: $acqua;
}
ul {
	list-style: none;
	padding-left: 15px;
}
ol {
	padding-left: 15px;
}
th, td {
	padding-left: 0px !important;
}
.container-fluid {
	padding-top: 15px;
}
.current-page {
	font-weight: bold;
}
.center-div {
	margin-left: 7.45%;
	margin-right: 7.45%;
}
.center-paragraph {
	text-align: center;
	padding-left: 15%;
	padding-right: 15%;
}
#breadcrumbs {
	text-align: right;
}
footer {
	div {
		p {
			text-align: center;
		}
	}
}
#selfie-img-container {
	width: 100%;
	background-color: #500F19;
}
#selfie-img {
	margin: 20px;
	width: 200px;
}
.educ-work {
	background-color: $abisso;
	color: $terraTerra;
	.table-sm {
		color: $terraTerra;
		width: 100%;
	}
	div {
		padding: 15px 30px;
	}
}
#art-container {
	padding: 15px;
	background-color: $abisso;
}
.art-img {
	width: 100%;
	transition: transform .2s;
	&:hover {
		z-index: 99;
		transform: scale(1.05);
	}
}
#gold-container {
	padding: 15px;
	background-color: gold;
}
#gossip-container {
	padding: 15px;
	background-color: $abisso;
	color: $terraTerra;
}
#break-container {
	padding: 15px;
	background-color:$acquaProfonda;
	color: $terraTerra;
}
#more-container {
	padding: 15px;
	background-color: $acqua;
	color: $terraTerra;
}

@media screen and (max-width: $breakpoint) {
    #breadcrumbs {
        text-align: left;
    }
    .center-div {
        margin-left: 0px;
        margin-right: 0px;
    }
    .center-paragraph {
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
    }
}

